.bg {
    background-image: url('../../assets/images/table.jpg');
    height: 597px;
    width: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .white-font {
    color: white;
  }
  