<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row bg">
        <div class="col-md-5 col-sm-5 col-xs-12 mt-5">
            <h1 class="white-font" style="text-align: center">Add Table</h1>
            <form class="" [formGroup]="tableForm" (ngSubmit)="addTable(tableForm.value)">
                <div class="form-group mt-4">
                    <label class="white-font" for="table">Select Table Type</label>
                    <select formControlName="table_type" class="form-control" name="table_type" id="table">
                        <option value="Family">Family</option>
                        <option value="Couple">Couple</option>
                        <option value="Individual">Individual</option>
                    </select>
                </div>
                <div class="form-group mt-4">
                        <label class="white-font" for="table">Select Compartment</label>
                        <select formControlName="compartment" class="form-control" name="compartment" id="table">
                            <option value="Ac">Ac</option>
                            <option value="Non-Ac">Non-Ac</option>
                        </select>
                </div>
                <div class="form-group">
                    <label class="white-font" for="category">No Of Tables</label>
                    <input type="number" formControlName="table_count" name="table_count" id="table_count" class="form-control" placeholder="No of Tables" min="1">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger">Add Table</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 ml-3 mt-5">
            <div class="card mt-5">
                <div class="card-header text-center pb-2">
                    <h3>List of Tables</h3>
                </div>
                <div class="card-body text-center">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Table Type</th>
                                <th scope="col">Count</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let tableType of tableTypes;let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ tableType.table_type }} ({{ tableType.compartment }})</td>
                            <td>{{ tableType.count }}</td>
                            <td>
                                <a routerLink="/add-table/{{ tableType._id }}" class="btn btn-info btn-md mr-2">Edit</a>
                                <button (click)="deleteTable(tableType._id)" type="submit" class="btn btn-danger btn-md">Delete</button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

